<div style="text-align:center">
  <br>
  <h1>
    {{ title }}
  </h1>
  <h5>
    by {{author }}
  </h5>
</div>


  <app-searchbar></app-searchbar>


<br>
<br>
<app-pokemon-lookable></app-pokemon-lookable>
<br>
<div class="container-fluid ">
  <div class="row">
    <div class="col-12 col-md-6">
      <app-stats></app-stats>
      <app-evolution></app-evolution>

    </div>
    <div class="col-12 col-md-6">
      <app-ability-tab></app-ability-tab>
      <app-moves-list></app-moves-list>

    </div>
  </div>
</div>
<br>