<div *ngIf="dataReady" class="container-fluid center mat-elevation-z8 ">
  <div class="row">
    <div class="col-12 col-md-6">
      <form (ngSubmit)="clickButtonGo()" class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <p-button type='submit' label="Go"></p-button>
      </form>
    </div>
    <div class="col-12 col-md-6 " >
      <br>
      <div id='alert'  style='display:none;z-index:2;' class="alert alert-danger">
        Please select an existing pokemon !
      </div>
    </div>

  </div>
  
  
  
  <!--
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-fixed-160 ml-3">
          <span class="ui-float-label">
            <input [(ngModel)]="searchBarId" type="text" size="10" pInputText>
            <label for="searchBarId">Pokemon id's</label>
          </span>
        </div>
        <div class="col" style="margin-left:160px;">
          <span>
            <input [(ngModel)]="searchBarId" type="text" pInputText readonly />
          </span>
        </div>
      </div>
      <br>
      <p-button (click)="clickButtonGo()" label="Go"></p-button>
      <p style="height:10px"></p>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-fixed-160 ml-3">
          <span class="ui-float-label">
            <input [(ngModel)]="searchFilter" type="text" size="10" pInputText>
            <label for="searchFilter">List's filter</label>
          </span>
        </div>
        <div class="col" style="margin-left:160px;">
          <p-dropdown *ngIf="dataReady" [virtualScroll]="true" itemSize="30"
            [options]="(pokemonList | filterPokemonPipe:toFilter:searchFilter)" [(ngModel)]="pokemonSelect"
            placeholder="Pokemon List" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
      </div>
      <br>
      <p-button (click)="clickButtonGo()" label="Go"></p-button>
      <p style="height:10px"></p>
    </div>
  </div>
</div>
-->
<br>
<br>
<br>



